@import"fonts";
@import"variables";
@import"mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}
html,
body{
  overflow: hidden;
  overflow-y: scroll;
}

header{
 
 /* nav{
   padding: 20px 0;
    .container{ 
      .navbar{
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color:#FFF;

        &__menu{
        display: flex;
        gap: 40px;
        padding-left: 146px;
        padding-right: 146px;
           
          &-item{
            text-decoration: none;
          }
          &-link {
           color:#282B22;
           font-family:$font-family-500;
           font-size: 16px;
          }
                
        }
        &__social{
          display: flex;
          align-items: center;
          column-gap:63px;
                   
          &-right{
           display: flex;
            align-items: center;
            column-gap:12px;
            text-decoration:none ;
            color:$secondary-color;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
          }
               
          &-left{
           display: flex;
           align-items: center;
           column-gap:15px;
          }
        }
        input{
         display: none;
        }
      }
      @include for-large-table{
         .navbar{
            &__social{
             column-gap:20px;
            }
            &__menu{
              column-gap:20px;
            }
          }
      }
      @include for-tablet{
        .navbar{
          &__menu{
            position: fixed;
            top: 93px;
            right: 0;
            width: 40%;
            height: 100vh;
            background: #fff;
            font-display: column;
            justify-content: flex-start;
            align-items: flex-start;
            transform:translateX(120%) ;
            transition: 0.5s;
          }
        }
      }
      .navbar__checkbox:checked~ .navbar__menu{
           transform: translateX(0);
      }
    }       
  } */        
  

  .project{
    background-image:url('../images/hero-image.jpg');
    max-height:900px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:right;
  } 
  .project::after{
    content:'';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
    width: 100%;
    height:756px;
    position: absolute;
    top:0px;
    left: 0;
    pointer-events: none;
  } 
  .agreemant{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .agreemant-text{
     display:block;
     padding-top: 175px;
     padding-right: 55px;
      z-index: 5;
    
    }  
    .agreemant-text-h2{
      max-width: 446px;
      color:#fff;
      text-align: center;
      font-family:$font-family-lt400;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; 
      text-transform: uppercase;
      padding-bottom: 20px;
      margin-left: 50px;
     }
     .agreemant-text p{
      width: 537px;
      color:#FFF;
      text-align: center;
      font-family:$font-family-500;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; 
      margin-bottom: 50px;
      opacity: 0.8;

      }
      .agreemant_btn{
        border:none;
        padding: 22px 56px;
        background:#AE7B3C;
        box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
        color:#FFF;
        font-family: $font-family-700;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-left: 150px;
        margin-bottom: 120px;
        cursor: pointer;
        transition: 0.5s all;
      }
      .agreemant_btn:hover{
         background:#311d04;
      }
      .agreemant_btn:active{
        transform: scale(0.6);
      }
      .project-line{
        display: flex;
        column-gap:25px;
        padding-right: 200px;
        border-top:1px solid #fff;
        padding: 41px 0 ;
        transition: 0.5;
        cursor: pointer;
      }
      .project-line .right:active{
        transform: scale(0.7);
      }
      .project-line .left:active{
        transform: scale(0.7);
      }
      .number{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 15px;
        padding-left:300px ;
        transition: 0.5;
      }
      .number .one:active{
        transform: scale(0.6);
      }
      .number .one:hover{
        background-color:#eae1e187;
        border-radius:50%;
        color:#000;
      }
      .number .two:active{
        transform: scale(0.6);
      }
      .number .two:hover{
        background-color: #eae1e16b;
        border-radius: 50%;
        color:#000;
      }
      .number .three:active{
        transform: scale(0.6);
      }
      .number .three:hover{
        background-color: #ece1e17a;
        border-radius: 50%;
        color:#000;
      
      }
  }
} 
main{
  
    section{
      .basis{
        background-color:#FFF;
        .data{
          display:block;
          justify-content: center;
          align-items: center;
          padding-left: 200px;
          padding-top:80px;
       
         
        }

        .data h3{
        
        
          font-family:$font-family-600;
          font-size: 46px;
          font-weight: 600;
          line-height: 125%; 
          text-transform: uppercase;
          
        }

        .rooms{
          display:flex;
          align-items: center;
         padding-top: 80px;
         padding-bottom: 140px;
        position: absolute;
        
        

          &__info{
          display:block;
          padding-left: 30px;
          padding-right: 30px;
          border-left:1px solid #282B22;
          
          }
          .rooms__info-span{
          color:#282B22;
          font-family:$font-family-600;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          opacity: 0.5;
          
          }
          .rooms__info-text{
          padding-top: 60px;   
          color:#3D4A39;
          font-family:$font-family-600;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          padding-bottom: 30px;
          }
          .rooms img{
          background: linear-gradient(0deg, rgba(61, 74, 57, 0.10) 0%, rgba(61, 74, 57, 0.10) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
          }
        

        }
      }

      .addition{
        background:#3D4A39;
        .choose h4{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 100px;
          color:#FFF;
          font-family:$font-family-600;
          font-size: 46px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
          text-transform: uppercase;
        }
        
      }
    }
  
}
@include for-desktop{
  .project{
    background-image:url('../images/hero-background.jpg');
    height:900px;
    background-repeat:no-repeat;
    background-position:right;
  }
   .project::after{
    content:'';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
    width: 100%;
    height:756px;
    position: absolute;
    top:0px;
    left: 0;
    pointer-events: none;
    padding-top: 150px;
  } 

  .agreemant-text-h2{
    max-width: 296px;
    font-family:$font-family-lt700;
    font-weight: 700;
    font-size: 28px;
   
 
  }
  .agreemant-text-p{
  max-width: 300px;
  line-height: 145%;
  font-size: 16px;
  padding-left: 40px;

  }
  .project-line{
    display: none;
  }
  .number{
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .rooms{
    display: flex;
    flex-direction: column;
   
    &__info{
      position: absolute;
      left: 0;
      border:none;
    }
  }


  
}   



   







         
 
